# Content
1. [Load and chech Data](#1)
1. [Veriable Description](#2)
1. [Data cleaning](#3)

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid') #plt.style.available

import warnings #ignore warning
warnings.filterwarnings("ignore")
from collections import Counter

In [2]:
df = pd.read_csv("../datasets/athlete_events.csv")
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

<a id="1"></a>
# Load And Check Data

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

<a id="2"></a>
# Veriable Description

1. ID: Unique number of each athlete
1. Name: Athlete name
1. Sex: Gender -> m(man) - f(woman)
1. Age
1. Height
1. Weight
1. Team
1. NOC: National olympic committee (3 letter code)
1. Games: Year and season
1. Year
1. Season: Winter, Summer
1. City: city where the event is held
1. Sport: General event branch
1. Event: Specific event name
1. Medal: Type of medal won -> Gold, Bronze, Silver, nan

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## Types of variable
1. int64: ID, Year
1. float64: Age, Height, Weight
1. object(string): Name, Sex, Team, NOC, Games, Season, City, Sport, Event, Medal

<a id="3"></a>
# Data Cleaning
* Rename columns
* Removal and organization of useless data
* Detection of NaN(lost) data

## Rename columns

In [9]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [15]:
df.rename(columns={'ID': 'id',
                  'Name' : 'name',
                  'Sex': 'gender',
                  'Age': 'age',
                  'Height': 'height',
                  'Weight': 'weight',
                  'Team': 'team',
                  'NOC': 'noc',
                  'Games': 'games',
                  'Year': 'year',
                  'Season': 'season',
                  'City': 'city',
                  'Sport': 'sport',
                  'Event': 'event',
                  'Medal': 'medal'},inplace=True)

In [16]:
df.head()

,id,name,gender,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Removal and organization of useless data

In [17]:
df = df.drop(["id","games"],axis=1) # axis = 1 -> columns
df.head(2)

,name,gender,age,height,weight,team,noc,year,season,city,sport,event,medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

## Detection of NaN
* Filling in the missing data in the height and weight column is based on the event average.

In [28]:
unique_event = pd.unique(df.event)
print("Unique event number: ", len(unique_event))
#Example
unique_event[:10]

Unique event number:  765

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Cross Country Skiing Men's 10 kilometres",
       "Cross Country Skiing Men's 50 kilometres",
       "Cross Country Skiing Men's 10/15 kilometres Pursuit",
       "Cross Country Skiing Men's 4 x 10 kilometres Relay"], dtype=object)

In [29]:
# loop each activity iteratively
# find average height and weight for the event
# equate the lost height and weight values to the activity averages
temp_df = df.copy() # Temporary data was created to avoid corrupting the actual data.
height_weight_list = ["height","weight"]
for e in unique_event:
    # event filter created
    event_filter = temp_df.event == e
    # filter data according to event

In [32]:
test = temp_df.event == "Speed Skating Women's 500 metres"

In [33]:
temp_df[test]

,name,gender,age,height,weight,team,noc,year,season,city,sport,event,medal
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
6,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
8,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
6394,An Ji-Min,F,17.0,163.0,52.0,South Korea,KOR,2010,Winter,Vancouver,Speed Skating,Speed Skating Women's 500 metres,NaN
7799,Monique Angermller,F,26.0,174.0,72.0,Germany,GER,2010,Winter,Vancouver,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
268770,Zhang Hong,F,25.0,174.0,65.0,China,CHN,2014,Winter,Sochi,Speed Skating,Speed Skating Women's 500 metres,NaN
268923,Zhang Shuang,F,23.0,172.0,70.0,China,CHN,2010,Winter,Vancouver,Speed Skating,Speed Skating Women's 500 metres,NaN
268924,Zhang Shuang,F,27.0,172.0,70.0,China,CHN,2014,Winter,Sochi,Speed Skating,Speed Skating Women's 500 metres,NaN
270221,Pamela Zoellner (Fischer-),F,29.0,177.0,69.0,Germany,GER,2006,Winter,Torino,Speed Skating,Speed Skating Women's 500 metres,NaN
271050,Sandra Kornelia Zwolle,F,26.0,174.0,65.0,Netherlands,NED,1998,Winter,Nagano,Speed Skating,Speed Skating Women's 500 metres,NaN